* {
 font-family: 'Cinzel Decorative', cursive;
}

.center {
  margin: auto;
  width: 100%;
  padding-top: 7rem;
  padding-bottom: 7rem;
  text-align: center;
  /*justify-content: center;*/
  font-size: 10rem;
 }

header {
  color: white;
  margin-bottom: 1rem;
}

h2 {
  padding:1.5rem;
}

footer {
  text-align: center;
  color: white; 
  
}

.footerTitle {
  padding: 1% 0 0.1% 0; 
}

.footerImage {
  height: 40px;
  width: 40px
}

footer ul {
  margin: 0;
  padding: 0.1% 0 0.1% 0;
}

footer li {
  display: inline-block;
  padding: 1% 1%;
}


